#calculator{			/* put the calc div at 80% size to make left and right space between the upper divs */
	width: 80%;
	height: 1200px;		/*set the height of the div and added a grey broder,changed the background of the div */
	margin: 0 auto;
	border: 4px solid grey;
	background-color: lightgrey;
	opacity: 0.9;		/* make it a little bit transparent and changed the border corner with a radius */
	margin-top: 10px;
	border-radius: 4px;
	z-index: 1;

}


#calculator p{
	text-align: center;
	font-size: 30pt;
}

.txt{
  width: 100px;
  height: 20px;
  background-color: white ;
  opacity: 1;
  font-size: 30pt;
}

#box5 input{			/* properties of the submit botton changed */
	width: 20%;
	height: 30px;
	background-color: #32CD32;
	color: white;
	border-radius: 10px;
}
#box5 input::placeholder{			/* the font size of the submit text changed */
	font-size: 5pt;
}


#box5 h4{
	padding-top: 50px;
	font-size: 15pt;
	color: #32CD32;


}